*{box-sizing: border-box;}  

body {background-color: #D3D3D3;
    background-image: url(background.jpg);
    color: #202020;
    background-size: 100vw 100vh;
    font-family: Georgia, Sans-Serif;}

header {color: #f4ee42;
    font-size: 1.5em;
    font-family: Georgia, serif;}

h1 {line-height: 200%;
    text-align: center;
    margin-left: 40px;
    height: 90px;
    margin-bottom: 0;
    font-family: Georgia, serif;}


.center {line-height: 200%;
        text-align: center;
        margin-left: 40px;
        height: 90px;
        margin-bottom: 0;
        font-family: Georgia, serif;}
